html {
    user-select: none;
}

.toggle h2 {
    margin-left: 5px;
    margin-right: 5px;
}

body {
    height: 162px;
    width: 227px;
}

button {
    height: 30px;
    width: 31px;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    background-repeat: no-repeat;
    cursor: pointer;
}

button:hover {
    background-color: #e7e7e7;
    transition: background-color 0.1s ease-out;
}

button:focus {
    background-color: #f5f5f5;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: row;
    min-width: fit-content;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.navigation {
    position: relative;
    align-items: center;
    display: flex;
    min-width: fit-content;
    position: relative;
    z-index: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    left: -7.3px;
    top: -6px;
}

.whiteBg button {
    background-color: rgb(255, 255, 255);
}

.blueBg button {
    background-color: #2196F3;
}

.shadow {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.ui {
    align-items: center;
    display: flex;
    min-width: fit-content;
    position: relative;
    z-index: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}

#loadConfig {
    display: none;
}

#loadConfig_l {
    position: absolute;
    background-color: rgb(248, 248, 248);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    left: 1.75px;
    top: 100px;
}

#loadConfig_l:hover {
    background-color: #e7e7e7;
    transition: background-color 0.1s ease-out;
}

#loadConfig_l h4 {
    white-space: nowrap;
    margin: 0px;
}

.settingsBlocks {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 155.5px;
    align-items: center;
    display: flex;
    min-width: fit-content;
    position: relative;
    z-index: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    width: 180px;
    background-color: rgb(248, 248, 248);
    border-style: solid;
    border-color: rgb(248, 248, 248);
    border-width: 3px;
    border-radius: 5px;
}

.settingsBlocks::-webkit-scrollbar {
    display: none;
}

.settingsBlocks .settingsBlock {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    position: relative;
    z-index: 1;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-wrap: nowrap;
    margin-bottom: 3px;
}

.settingsBlock h4 {
    position: relative;
    left: 5px;
    margin-top: 4px;
    margin-bottom: 0px;
}

.fileBlocks {
    top: -25.5px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 105px;
    align-items: center;
    display: flex;
    min-width: fit-content;
    position: relative;
    z-index: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    width: 180px;
    background-color: rgb(248, 248, 248);
    border-style: solid;
    border-color: rgb(248, 248, 248);
    border-width: 3px;
    border-radius: 5px;
}

.fileBlocks::-webkit-scrollbar {
    display: none;
}

.fileBlocks .fileBlock {
    display: flex;
    flex-direction: row;
    min-width: fit-content;
    position: relative;
    z-index: 1;
    align-content: left;
    justify-content: space-between;
    align-items: left;
    background-color: white;
    flex-wrap: nowrap;
    margin-bottom: 3px;
    width: 180px;
}

.fileBlock h4 {
    position: relative;
    left: 5px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.algBlocks {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 155.5px;
    align-items: center;
    display: flex;
    min-width: fit-content;
    position: relative;
    z-index: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    width: 180px;
    background-color: rgb(248, 248, 248);
    border-style: solid;
    border-color: rgb(248, 248, 248);
    border-width: 3px;
    border-radius: 5px;
}

.algBlocks::-webkit-scrollbar {
    display: none;
}

.algBlocks .algBlock {
    display: flex;
    flex-direction: row-reverse;
    min-width: fit-content;
    position: relative;
    z-index: 1;
    align-content: left;
    justify-content: left;
    align-items: left;
    background-color: white;
    flex-wrap: nowrap;
    margin-bottom: 3px;
    width: 180px;
}

.algBlock h4 {
    position: relative;
    left: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
    max-width: 120px;
}

.lastHistory {
    align-items: center;
    display: flex;
    min-width: fit-content;
    position: relative;
    z-index: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    width: 180px;
    margin-top: 7px;
    background-color: rgb(248, 248, 248);
    border-style: solid;
    border-color: rgb(248, 248, 248);
    border-width: 3px;
    border-radius: 5px;
}

.lastHistory .historyBlock {
    display: flex;
    flex-direction: row;
    min-width: fit-content;
    position: relative;
    z-index: 1;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}

.lastHistory .historyBlock h2 {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
}

.statusBlock {
    align-items: center;
    display: flex;
    flex-direction: row;
    min-width: fit-content;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: space-between; 
    background-color: rgb(248, 248, 248);
    margin-left: 10px;
    top: 0.15px;
    border-style: solid;
    border-color: rgb(248, 248, 248);
    border-width: 3px;
    border-radius: 5px;
}

.statusPoint {
    position: relative;
    background-color: #cccccc;
    top: 1px;
    border-radius: 1000px;
    width: 10px;
    height: 10px;
    margin-left: 3px;
    margin-right: 3px;
}

.toggle {
    align-items: center;
    display: flex;
    flex-direction: row;
    min-width: fit-content;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 185px;
}

.toggle #button {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 29px;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle #slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.toggle #slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    border-radius: 3px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.toggle input:checked + #slider {
    background-color: #2196F3;
}

.toggle input:checked + #slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.sToggle {
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    display: flex;
    flex-direction: row;
    min-width: fit-content;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.sToggle #sButton {
    position: relative;
    display: inline-block;
    width: 29px;
    height: 19px;
}

.sToggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.sToggle #rSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    background-color: rgb(243, 243, 243);
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.sToggle #rSlider:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 11px;
    border-radius: 50px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.sToggle input:checked + #rSlider {
    background-color: #2196F3;
}

.sToggle input:checked + #rSlider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

.fToggle {
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    display: flex;
    flex-direction: row;
    min-width: fit-content;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.fToggle #fButton {
    position: relative;
    display: inline-block;
    width: 29px;
    height: 19px;
}

.fToggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.fToggle #fSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    background-color: rgb(243, 243, 243);
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.fToggle #fSlider:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 11px;
    border-radius: 50px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.fToggle input:checked + #fSlider {
    background-color: #2196F3;
}

.fToggle input:checked + #fSlider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

.aToggle {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
    align-items: center;
    display: flex;
    flex-direction: row;
    min-width: fit-content;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.aToggle #aButton {
    position: relative;
    display: inline-block;
    width: 29px;
    height: 19px;
}

.aToggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.aToggle #aSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    background-color: rgb(243, 243, 243);
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.aToggle #aSlider:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 11px;
    border-radius: 50px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.aToggle input:checked + #aSlider {
    background-color: #2196F3;
}

.aToggle input:checked + #aSlider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

#exportButton {
    background-image: url(../media/export.svg);
    background-size: 35px;
    background-position-y: -2px;
    background-position-x: -2px;
}

#clearButton {
    background-image: url(../media/reload.svg);
    background-size: 28px;
    background-position-y: 1.6px;
    background-position-x: 1.8px;
}

#removeButton {
    background-image: url(../media/remove.svg);
    background-size: 20px;
    background-position-y: 5px;
    background-position-x: 5.5px;
}

.blueBg #mainButton {
    background-image: url(../media/main_w.svg);
    background-size: 20px;
    background-position-y: 5px;
    background-position-x: 5.8px;
}

.blueBg #setButton {
    background-image: url(../media/settings_w.svg);
    background-size: 20px;
    background-position-y: 5px;
    background-position-x: 5.5px;
}

.blueBg #algButton {
    background-image: url(../media/algorithms_w.svg);
    background-size: 20px;
    background-position-y: 5px;
    background-position-x: 5.5px;
}

.blueBg #confButton {
    background-image: url(../media/configs_w.svg);
    background-size: 20px;
    background-position-y: 5px;
    background-position-x: 5.8px;
}

.whiteBg #mainButton {
    background-image: url(../media/main.svg);
    background-size: 20px;
    background-position-y: 5px;
    background-position-x: 5.8px;
}

.whiteBg #setButton {
    background-image: url(../media/settings.svg);
    background-size: 20px;
    background-position-y: 5px;
    background-position-x: 5.5px;
}

.whiteBg #algButton {
    background-image: url(../media/algorithms.svg);
    background-size: 20px;
    background-position-y: 5px;
    background-position-x: 5.5px;
}

.whiteBg #confButton {
    background-image: url(../media/configs.svg);
    background-size: 20px;
    background-position-y: 5px;
    background-position-x: 5.8px;
}

.removeFile {
    height: 15px;
    width: 16px;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 1px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: transparent;
    background-size: 15px;
    background-position-y: 0;
    background-position-x: 0px;
    background-image: url(../media/remove.svg);
}

.removeFile:hover {
    background-color: transparent;
    background-image: url(../media/remove_b.svg);
    transition: background-image 0.1s ease-out;
}

.removeFile:focus {
    background-color: transparent;
}

#status {
    margin: 0px;
    margin-right: 3px;
}

.notblack {
    color: rgb(71, 67, 77);
}